<ul>
    {{#each infos}}
        <li><a href="/watch/{{{this.hash}}}"> <i class="fa fa-{{#if this.metadata.vCodec}}video-camera{{else}}music{{/if}}"></i> {{this.hash}} - {{this.userFilledInfo.title}}</a></li>
    {{else}}
        no media found
    {{/each}}
</ul>