<script src="/static/scripts/vendor/async.js"></script>
{{#each enabledPlugins}}
    <script src="/static/scripts/plugins/client/{{{this}}}.js"></script>
{{/each}}
<script src="/static/scripts/player.js"></script>

<div id="player"></div>

<script>
    var enabledPlugins = {{{enabledPluginsS}}};

    var p = window.player(
        "{{{vidPath}}}",
        {{{infoS}}}
    );

    p.display(function(err) {
        if (err) { return window.alert(err); }

        p.use(function(err) {
            if (err) { return window.alert(err); }

            console.log('all done!');
        });
    });
</script>

<br/><a class="button" href="/edit/{{{info.hash}}}"> <i class="fa fa-edit"></i> edit this resource</a>
